
body {
  /* height: 100vh; */
  /* width: 100vh; */
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #485d66, #935757);
  /* background: linear-gradient(308deg, #393939, #000000); */
  /* background-color: #151515; */
  color: white;
}

code {
  font-family: sans-serif;
}
